.note-details {
  .adm-nav-bar-back-arrow {
    font-size: 18px;
  }
  // 头部信息
  .header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f9f9f9;
    padding: 30px 10px;
    > h1 {
      font-weight: normal;
      margin: 0;
      padding: 0;
      font-size: 23px;
      margin-bottom: 20px;
    }
    .meta {
      display: flex;
      font-size: 12px;
      justify-content: center;
      align-items: center;
      color: #777;
      > div {
        margin-right: 6px;
      }
      .antd-mobile-icon {
        margin-right: 4px;
      }
    }
  }
  // 用户信息
  .adm-card {
    margin: 14px 0;
    padding: 8px;
    border: 1px solid #e8e8e8;
    // height: 30px;
    font-size: 14px;
    .user-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;
      font-size: 14px;
      margin: auto;
      padding: 0;
      .info {
        display: flex;
        align-items: center;
        > .adm-avatar {
          border-radius: 50%;
          --size: 36px;
          margin-right: 10px;
        }
      }
      .opt {
        .adm-button {
          padding: 8px 16px;
          font-size: 14px;
          .antd-mobile-icon {
            margin-right: 6px;
          }
        }
      }
    }
  }
  // 底部
  .footer {
    .last-time {
      .antd-mobile-icon {
        font-size: 14px;
        margin-right: 6px;
      }
      font-size: 12px;
      color: #ccc;
    }
    .opt {
      display: flex;
      justify-content: center;
      .adm-button {
        margin: 20px 10px;
        font-size: 14px;
      }
    }
    .tip {
      display: block;
      font-size: 12px;
      color: #ccc;
      text-align: center;
      margin-bottom: 10px;
    }
  }

  // 评论区
  .comment {
    // 顶部提示
    .header-title {
      font-size: 14px;
      .antd-mobile-icon {
        margin-right: 6px;
      }
    }
    // 评论卡片
    .comment-card {
      .adm-form {
        font-size: 12px;
        --prefix-width: 40px;
        .adm-list-card {
          margin: 0;
        }
        .adm-form-item-label {
          font-size: 14px;
        }
        .adm-text-area-element {
          font-size: 14px;
        }
        .adm-text-area-count {
          font-size: 14px;
        }
        .comment-footer {
          display: flex;
          font-size: 15px;
          justify-content: space-between;
          align-items: center;
          margin-top: 10px;
        }
      }
    }
  }
}
